<!DOCTYPE html>
<html>
  <head>
    <title>Catalogo-<%= @item_selected %></title>
    <link rel="stylesheet" href="/styles/categories.css" />
    <link rel="icon" href="/front/Mini.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    
  <header>
    <div class="container-head">
      <div class="container head">
        <div class="tittle">
          <a href="/">
            <img class="image" src="/front/Logo.png" alt="logo">
          </a>
        </div>
      </div>
    </div>

    <div class="container-navbar">
      <div class="container navbar">
        <ul class="menu">
          <li><a href="/">Inicio</a></li>
          <li><a href="/information">Informacion</a></li>
        </ul>
      </div>
    </div>
  </header>

  <main class="main-content">
    <div class="container">
      <div class="box-tittle">
        <h1>
          CATALOGO
        </h1> 
      </div>
      <section class="box">
        <% @item.each do |item| %>
        <a href="/item_information/<%= item.id %>" style="text-decoration: none;">
          <div class="box-shop">
            <div class="box-content">
              <img src="<%= item.image %>" class="box-image"/>
              <% if not item.in_stock %>
                <div class="not-stock">
                  <p>SIN STOCK</p>
                </div>
              <% end %>
            </div>
            <div class="box-description<%= item.in_stock ? '' : '-no_stock' %>">
              <h3 class="box-name"><%= item.name %></h3>
              <h4>$<%= item.price %> </h4>
            </div>
          </div>
        </a>
        <% end %>
      </section>      
      
    </div>
  </main>

  </body>
</html>