<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Administrador</title>
  <link rel="Stylesheet" href="/styles/modifie_item.css">
  <link rel="icon" href="/front/Mini.png"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script> 
</head>

<body>
  
  <header>
    <div class="container-navbar">
      <div class="container navbar">
        <ul class="menu">
          <li><a href="/load_item"  >Cargar prenda</a></li>
          <li><a href="/modifie_item"  >Modificar prenda</a></li>
          <li><a href="/search_item"  >Eliminar prenda</a></li>
          <li><a href="/">Salir</a></li>
        </ul>
      </div>
    </div>
  </header>

  <main class="main-content">
    <div class="container carga">
      <h1 class="carga-tittle">MODIFICAR PRODUCTO</h1>
      <h3> Su producto: </h3>
      <p>Nombre actual: <%= @item.name %> <br> Precio actual: $<%= @item.price %> <br>Descripcion actual:  <%= @item.description %> <br> En stock: <%= @item.in_stock ? " Si" : "No" %></p>
    </div>
    <div class="container carga">
      <h1 class="carga-tittle">ACTUALIZA TUS DATOS</h1>
      <section class="carga-item">
        <form action="/modifie" method="post" enctype="multipart/form-data">
          <label for="name">Nuevo nombre:</label>
          <input type="text" id="name" name="name">

          <label for="price">Nuevo precio:</label>
          <input type="text" id="price" name="price">

          <label for="description">Nueva descripción:</label>
          <input type="text" id="description" name="description">

          <label for="in_stock">Hay stock:</label>
          <select id="in_stock" name="in_stock" required>
            <option value="true">Si</option>
            <option value="false">o</option>
          </select>

          <label for="color">Nuevos color/es:</label>
          <select id="color" name="colors[]" multiple>
            <% @colors.each do |color| %>            
              <option value="<%= color.name %>"><%= color.name %></option>
            <% end %>            
          </select>

          <label for="size">Nuevos talle/s:</label>
          <select id="size" name="sizes[]" multiple>
           <% @sizes.each do |size| %>            
              <option value="<%= size.number %>"><%= size.number %></option>
            <% end %>
          </select>

          <label for="file">Nueva foto:</label>
          <input type="file" name="file" id="file" accept="image/*">

          <button type="submit">Guardar Prenda</button>
        </form>
      </section>
    </div>
  </main>
  

  <script>
    $(document).ready(function() {
      $('#color').select2();
      $('#size').select2();
    });
  </script>


  <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
</body>
</html>
